<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nigel.ecustlock"
    android:versionCode="3"
    android:versionName="1.1.3" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <permission android:name="android.permission.GET_TASKS"></permission>
    <permission android:name="android.permission.EXPAND_STATUS_BAR"></permission>
    <permission android:name="android.permission.STATUS_BAR"></permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

           <!-- android:excludeFromRecents="true" 
        android:theme="@android:style/Theme.Holo.Light" > --> 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nigel.ecustlock.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service 
            android:name="com.nigel.service.LockService"
            android:enabled="true"
            android:excludeFromRecents="true"  
            android:launchMode="singleTask">
        </service>
        
        <service 
            android:name="com.nigel.service.TrainService"
            android:enabled="true"
            android:excludeFromRecents="true"  
            android:launchMode="singleTask">
        </service>
        
        <activity
            android:name="com.nigel.ecustlock.LockActivity"
			android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
			android:launchMode="singleInstance" > <!-- 单例运行Activity -->
        </activity>   
        
        <activity 
            android:name=".AuthActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleInstance">
        </activity>
        
        <activity
            android:name="com.nigel.ecustlock.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance" >
		</activity>    
		
		<activity
            android:name="com.nigel.ecustlock.PasswordActivity"
			android:label="@string/modify_password"
			android:parentActivityName=".MainActivity" >
            <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".MainActivity" />
		</activity>
		
		<activity
            android:name="com.nigel.ecustlock.TrainActivity"
			android:label="@string/train"
			android:launchMode="singleInstance"
			android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".MainActivity" />
		</activity>
		<activity 
		    android:name=".ConfigActivity"
		    android:label="@string/config_setting"
		    android:parentActivityName=".MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".MainActivity" />
		</activity>    
		<activity 
		    android:name=".MfccTestActivity"
		    android:label="@string/app_name">
		</activity>      
		
		<activity
		    android:name=".UsersActivity"
		    android:label="@string/user_manager"
		    android:parentActivityName=".MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".MainActivity" />
		</activity>
		
		<activity
		    android:name=".RegisterActivity"
		    android:label="@string/app_name" >
		</activity>
        
		<activity
		    android:name=".DeveloperActivity"
		    android:label="@string/developer_mode"
		    android:parentActivityName=".MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".MainActivity" />
		</activity>
		
    </application>

</manifest>
